body{
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.png);
}
#container{
    height:600px;
    width:400px;
    background-color: #fff;
    padding: 10px;
    background-color: pink;
    font-family: 'Caveat', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Fasthand', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
nav i{
    color:coral;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}
.details img{
    height:200px;
    width:200px;
    border-radius: 50%;
}
.details #header{
    font-size: x-large;
    font-weight: 600;
}
.details #singer{
    font-size: large;
    margin-top: 0;
}
#playit{
    height:100px;
}
.ctrl{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.ctrl i{
    color:coral;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: x-large;
}
input{
    width:100%;
    height:6px;
    cursor: pointer;
    border-radius: 4px;
    margin: 40px 0;
    -webkit-appearance: none;
    background: #f53192;
}
#play{
    font-size: xx-large;
}
